{% extends 'app_uchoa/base.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Cliente</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'cliente' %}">clientes</a></li>
              <li class="breadcrumb-item active">{{clientes.id}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
        <div class="card">
      <div class="card-body"> 
        <h3>Detalhes</h3>
      <br>
        <p class="card-text">  Cliente: {{clientes.nome}}</p>
        <p class="card-text">  CPF: {{clientes.cpf}}</p>
        <p class="card-text">  Código: {{clientes.codigo}}</p>
        <p class="card-text">  Celular: {{clientes.fone}}</p>
        <p class="card-text">  Descrição: {{clientes.detalhe}}</p>
      </div>
    </div>
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Emprestimos</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
         <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Valor Total</th>
                <th>Prazo</th>
                <th>Falta</th>
                <th>Detalhes</th>
                </tr>
                </thead>
                {% for emprestimo in emprestimos %}
                <tbody>
                <tr>
                  <td>{{emprestimo.valor_emprestimo}}</td>
                  <td>{{emprestimo.tipo_emprestimo}}</td>
                  {% if falta %}
                  <td><span class="badge badge-warning">Falta</span></td>
                  {% endif %}
                  {% if not falta %}
                  <td><span class="badge badge-sucess">Falta</span></td>
                  {% endif %}
                  <td>
                  <a href="{% url 'emprestimodetail' pk=emprestimo.pk %}" class="text-muted">
                    <i class="fas fa-search"></i>
                  </a>
                </td>
                </tr>
                </tbody>
                {%endfor%}
              </table>
              
            </div>
            
          </div>
          <div class="card card-primary collapsed-card">
              <div class="card-header">
                <h3 class="card-title">Novo Emprestimo</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <form action="" method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <input type="submit" value="Salvar">
                </form>
              </div>
            </div>
          <!-- /.col-md-6 -->
          
        </div>
        
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}   