{% extends 'app_uchoa/base.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Emprestimo</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'emprestimo'%}">Emprestimos</a></li>
              <li class="breadcrumb-item active">{{emprestimos.pk}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="card">
      <div class="card-body"> 
        <h3>Detalhes</h3>
        <br>
        <p class="card-text">Cliente: {{emprestimos.cliente_name}}</p>
        <p class="card-text">  Tipo de emprestimo: {{emprestimos.tipo_emprestimo}}</p>
        <p class="card-text">  Valor do Emprestimo: {{emprestimos.valor_emprestimo}}</p>
        <p class="card-text">  Valor Pago: {{emprestimos.valor_pago}}</p>
        <p class="card-text">  Restante: {{resto}}</p>
      </div>
    </div>
    <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3>Parcelas</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Procurar">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Data</th>
                <th>Valor</th>
              </tr>
            </thead>
            {% for parcela in parcelas %}
            <tbody>
              <tr>
                <td>{{parcela.date}}</td>
                <td>{{parcela.valor_parcela}}</td>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card card-primary collapsed-card">
        <div class="card-header">
          <h3 class="card-title">Nova Parcela</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
          </div>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Save">
           </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    </div>
  </div>
</div>
{% endblock %}   